<section class="main-container">
  <div class="path-container">
    <span class="go-to" routerLink="/">Home</span>
    <span><img src="/icons/right-arrow.svg" alt="Right Arrow" /></span>
    <span class="go-to" routerLink="/shop">Shop</span>
    <span><img src="/icons/right-arrow.svg" alt="Right Arrow" /></span>
    <span>|</span>

    <span class="path-prod-name">Shopping Cart</span>
  </div>

  <section class="main_list_container">
    @if (product_list.length === 0) {
    <empty-cart></empty-cart>
    }@else {
    <section class="left">
      <section
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 30px;
        "
      >
        <p class="subtotal">
          Subtotal <span>{{ totalAmount() | currency : "USD" }}</span>
        </p>

        <div class="others-btns">
          <button class="checkout">
            <img src="/icons/credit-card.svg" alt="Credit Card" />
            <p>Proceed to Checkout ({{ product_list.length }} products)</p>
          </button>
          <button class="share">
            <img src="/icons/share.svg" alt="Share" />
            <p>Share Cart</p>
          </button>
        </div>
      </section>

      <section class="list_box" style="height: 100%; overflow-y: scroll">
        @for (product of product_list; track $index) {
        <span class="each-prod">
          <div class="main-info">
            <div class="left-info">
              <div class="photo">
                <img
                  src="{{ '/images/products/' + product.photo }}"
                  alt="{{ product.name }}"
                  style="
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 10px;
                  "
                />
              </div>

              <div
                class="info_prod"
                style="
                  display: flex;
                  flex-direction: column;
                  width: 400px;
                  justify-content: center;
                "
              >
                <span
                  class="title"
                  style="font-size: 18px; font-weight: bold"
                  >{{ product.name }}</span
                >
              </div>
            </div>

            <div
              class="prices"
              style="
                display: flex;
                flex-direction: column;
                align-items: end;
                justify-content: space-between;
              "
            >
              <div class="product-price">
                @if(product.offer && product.offer > 0) {
                <span class="current-price">{{
                  product.price * (1 - product.offer / 100) | currency : "USD"
                }}</span>

                }

                <span
                  [ngClass]="{
                    'original-price': product.offer && product.offer > 0,
                    'current-price': !product.offer || product.offer === 0
                  }"
                  >{{ product.price | currency : "USD" }}</span
                >
              </div>
              <span
                style="
                  color: #373d4b;
                  font-weight: 600;
                  padding: 5px 10px;
                  border-radius: 10px 0 0 0;
                  background-color: #f1f4f9;
                "
                >Subtotal: @if (product.offer > 0){
                {{
                  product.price *
                    (1 - product.offer / 100) *
                    (product.cantToBuy ?? 0) | currency : "USD"
                }}
                }@else {
                {{
                  product.price * (product.cantToBuy ?? 0) | currency : "USD"
                }}
                }
              </span>
            </div>
          </div>

          <div class="actions">
            <span class="remove" (click)="removeProductById(product._id)">
              <img src="/icons/trash.svg" alt="Delete" />
              Remove</span
            >
            <span
              class="details"
              [routerLink]="['/shop']"
              [queryParams]="{ id: product._id }"
            >
              <img src="/icons/info-square-rounded.svg" alt="Details" />

              Details</span
            >

            <div style="width: 100%"></div>

            <div class="btns">
              <span class="less" (click)="actionsOnCantToBy(product._id, -1)"
                >-</span
              >
              <span class="cant">{{ product.cantToBuy }}</span>
              <span class="plus" (click)="actionsOnCantToBy(product._id, +1)"
                >+</span
              >
            </div>
          </div>
        </span>
        }
      </section>
    </section>
    }

    <section
      class="right"
      [ngClass]="{ 'empty-cart': product_list.length === 0 }"
    >
      <span class="wishlist-title">
        <p class="title">Your Wishlist</p>
        <p class="subtitle">
          Bring your favorite products directly to your cart
        </p>
      </span>

      <div class="wishlist-container">
        @for (product of wishlist_list; track $index) {
        <litter-product-card
          [product]="product"
          [index]="$index"
        ></litter-product-card>
        }
      </div>
    </section>
  </section>
</section>
