<section>
  <p class="title">Browse The Range</p>
  <p class="subtitle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit
  </p>

  <hr />

  <div class="range-container">
    <div class="range-item">
      <img src="/images/range1.webp" alt="Dining" />
      <p class="title">Dining</p>
    </div>

    <div class="range-item">
      <img src="/images/range2.webp" alt="Living" />
      <p class="title">Living</p>
    </div>

    <div class="range-item">
      <img src="/images/range3.webp" alt="Bedroom" />
      <p class="title">Bedroom</p>
    </div>
  </div>
</section>
