<div class="container">
  <form [formGroup]="dataForm">
    <input
      id="name"
      formControlName="name"
      type="text"
      placeholder="Búsqueda por nombre"
    />
    <span>
      <select id="order" (change)="orderList()">
        <option value="nothing">Ordernar por</option>
        <option value="asc">Menor Precio Primero</option>
        <option value="desc">Mayor Precio Primero</option>
      </select>
    </span>

    <span>
      <span class="apply" (click)="applyFilters()">Aplicar</span>
      <span class="reset" (click)="resetFilters()">Limpiar</span>
    </span>
  </form>
</div>
