<div class="container">
  <form [formGroup]="dataForm">
    <input
      id="name"
      formControlName="name"
      type="text"
      placeholder="Search by name"
    />
    <span>
      <select id="order" (change)="orderList()">
        <option value="nothing">Order By</option>
        <option value="asc">Menor Precio Primero</option>
        <option value="desc">Mayor Precio Primero</option>
      </select>
    </span>

    <span>
      <span class="apply" (click)="applyFilters()">Apply</span>
      <span class="reset" (click)="resetFilters()">Clear</span>
    </span>
  </form>
</div>
