section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #ffebb8;
  margin-bottom: 30px;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #00176a;
  font-size: 18px;
}

.left span {
  border-left: 1px solid #000;
  padding-left: 20px;
}

.left img {
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.right select {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  width: 150px;
}

.right select option {
  color: #00176a;
}

.right input {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  width: 100px;
}

.right input::placeholder {
  color: #00176a;
}
