<nav>
  <div class="logo" routerLink="/">
    <img src="/images/blue_simbol.png" alt="Industrial X" />
  </div>

  <ul>
    <li routerLinkActive="is-active">
      <a routerLink="/shop">Shop</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/about">About</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>

  <div class="icons">
    <a routerLink="/profile">
      <img src="/icons/profile.svg" alt="Profile" />
    </a>
    <a routerLink="/search">
      <img src="/icons/search.svg" alt="Search" />
    </a>
    <a routerLink="/wishlist">
      <img src="/icons/favorites.svg" alt="Favorites" />
    </a>
    <a routerLink="/cart">
      <img src="/icons/cart.svg" alt="Cart" />
    </a>
  </div>
</nav>
