<nav>
  <div class="logo" routerLink="/">
    <img src="/images/logo.png" alt="Industrial X" />
  </div>

  <ul>
    <li routerLinkActive="is-active">
      <a routerLink="/shop">Shop</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/about">About</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>

  <div class="icons">
    <a routerLink="/profile" *ngIf="isLoggedIn()">
      <img src="/icons/profile.svg" alt="Profile" />
    </a>
    <a routerLink="/login" *ngIf="!isLoggedIn()">
      <img src="/icons/profile.svg" alt="Login" />
    </a>
    <a routerLink="/search">
      <img src="/icons/search.svg" alt="Search" />
    </a>
    <a routerLink="/wishlist">
      <img src="/icons/favorites.svg" alt="Favorites" />
    </a>
    <a class="cart-icon">
      <img routerLink="/cart" src="/icons/cart.svg" alt="Cart" />

      <div class="cart-preview">
        <h2>Shopping Cart</h2>
        <div
          class="cart-items"
          [ngClass]="{ 'cart-items-empty': prods_in_cart.length === 0 }"
        >
          @if (prods_in_cart.length === 0) {
          <div class="empty-cart">
            <img src="/icons/empty-cart.svg" alt="Empty Cart" />
            <p>Your cart is empty</p>
            <button class="shop-now-btn" routerLink="/shop">Shop Now</button>
          </div>
          } @else { @for (prod of prods_in_cart; track $index) {
          <div class="cart-item">
            <img [src]="'/images/products/' + prod.photo" [alt]="prod.name" />
            <div class="item-details">
              <p [routerLink]="'/shop/' + prod._id">{{ prod.name }}</p>
              <p class="price">{{ prod.price | currency : "USD" }}</p>
              <span class="cant-btns">
                <div class="btns">
                  <span
                    class="less"
                    (click)="actionsOnCantToBy('cant_' + $index, -1)"
                    >-</span
                  >
                  <span id="cant_{{ $index }}" class="cant"
                    >{{ extractCantToByOfCart(prod._id) }}
                  </span>
                  <span
                    class="plus"
                    (click)="actionsOnCantToBy('cant_' + $index, +1)"
                    >+</span
                  >
                </div>
              </span>
            </div>
            <span
              class="trash"
              (click)="removeProductById(prod._id)"
              style="
                display: flex;
                align-items: center;
                padding-left: 5px;
                cursor: pointer;
              "
            >
              <img src="/icons/trash.svg" alt="Delete" />
            </span>
          </div>
          } }
        </div>
        @if (prods_in_cart.length > 0) {
        <div class="cart-footer">
          <div class="subtotal">
            <span class="first">
              Subtotal
              <p>({{ prods_in_cart.length }} products)</p>
            </span>
            <span class="amount"> {{ totalAmount() | currency : "USD" }}</span>
          </div>
          <div class="cart-actions">
            <button class="cart-btn">Cart</button>
            <button class="checkout-btn">Checkout</button>
            <button class="compare-btn">Comparison</button>
          </div>
        </div>
        }
      </div>
    </a>
  </div>
</nav>
