.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  animation: fade-in 0.3s ease-in-out;

  &.success {
    background-color: #43d787;
  }

  &.error {
    background-color: #f9461c;
  }

  &.info {
    background-color: #0086d6;
  }

  &.warning {
    background-color: #ffbb00;
  }

  &.close {
    display: flex;
    justify-content: end;
  }
}

.toast-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.icon {
  width: 35px;
  height: 35px;
}

.progress-bar {
  width: 100%;
  height: 10px;
}

.progress {
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: progress-bar-animation 3s linear;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
}

@keyframes progress-bar-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
