<div class="toast-container" *ngIf="isVisible">
  <div class="toast" [ngClass]="type">
    <div class="toast-header">
      <div class="content">
        <img class="icon" src="/icons/{{ type }}.svg" alt="{{ type }}" />

        <div class="message">
          {{ message }}
        </div>
      </div>
    </div>

    <div class="progress-bar">
      <div
        class="progress"
        [ngStyle]="{
          'animation-duration': 3000 + 'ms',
          'background-color':
            type === 'success'
              ? '#a1ebc3'
              : type === 'error'
              ? '#fca18c'
              : type === 'info'
              ? '#80c2ea'
              : '#ffdd80'
        }"
      ></div>
    </div>
  </div>
</div>
