<div
  class="product-card"
  style="
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  "
>
  <img
    [src]="'/images/products/' + product.photo"
    [alt]="product.name"
    style="width: 100px; height: auto"
  />

  <div class="product-info">
    <h3 style="color: #000; margin: 10px 0; font-size: 16px">
      {{ product.name }}
    </h3>

    <div
      class="price"
      style="font-weight: bold; font-size: 18px; margin: 5px 0"
    >
      {{ product.price | currency : "USD" }}
    </div>

    <span class="shop-fav">
      <button
        (click)="addToFavorites()"
        [ngClass]="{ 'is-fav': isInWishList() }"
      >
        @if(isInWishList()) {
        <img src="/icons/favorite-fill.svg" alt="Favorites Fill" />
        }@else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-heart"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
        }
      </button>

      <button (click)="onClick()" [ngClass]="{ 'is-in-cart': isInCart() }">
        @if(isInCart()) {
        <img src="/icons/cart-fill.svg" alt="Cart Fill" />
        }@else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 17h-11v-14h-2" />
          <path d="M6 5l14 1l-1 7h-13" />
        </svg>
        }
      </button>
    </span>
  </div>
</div>
