@font-face {
  font-family: "Centro Sans";
  src: url("/centro-sans/PFCENTROSANSPRO-BOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Centro Sans";
  src: url("/centro-sans/CentroSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Centro Sans";
  src: url("/centro-sans/PFCENTROSANSPRO-LIGHT.OTF") format("opentype");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Centro Sans";
}
