<section class="main-container">
  <div class="path-container">
    <span class="go-to" routerLink="/">Home</span>
    <span><img src="/icons/right-arrow.svg" alt="Right Arrow" /></span>
    <span class="go-to" routerLink="/shop">Shop</span>
    <span><img src="/icons/right-arrow.svg" alt="Right Arrow" /></span>
    <span>|</span>

    <span class="path-prod-name">Wish List</span>
  </div>

  <div class="top-container">
    @if (product_list.length === 0) {
    <ng-container *ngTemplateOutlet="emptyList"></ng-container>
    }@else {

    <div>
      @for (product of product_list; track $index) {
      <div class="product-container">
        <!-- Product Image and Basic Info -->
        <div class="product-left">
          <img
            [src]="'/images/products/' + product.photo"
            [alt]="product.name"
            class="product-image"
          />
          <div class="product-info">
            <h2 class="product-title">
              {{ product.name }}
            </h2>
            <div class="price">{{ product.price }} US$</div>
          </div>
        </div>

        <!-- Product Actions -->
        <div class="product-right">
          <!-- Quantity Controls -->
          <div class="btns">
            <span class="less" (click)="actionsOnCantToBy(product._id, -1)"
              >-</span
            >
            <span class="cant">{{ product.cantToBuy }}</span>
            <span class="plus" (click)="actionsOnCantToBy(product._id, +1)"
              >+</span
            >
          </div>

          <!-- Total Amount -->
          <div class="total-amount">
            <span>Importe</span>
            <span class="amount"
              >@if (product.offer > 0){
              {{
                product.price *
                  (1 - product.offer / 100) *
                  (product.cantToBuy ?? 0) | currency : "USD"
              }}
              }@else {
              {{ product.price * (product.cantToBuy ?? 0) | currency : "USD" }}
              }
            </span>
          </div>

          <!-- Action Buttons -->
          <div class="action-buttons">
            <button class="cart-btn" (click)="onClick(product)">
              <img src="/icons/cart.svg" alt="Cart" />
            </button>
            <button class="delete-btn" (click)="removeToFavorites(product._id)">
              <img src="/icons/trash.svg" alt="trash" />
            </button>
          </div>
        </div>
      </div>

      }
    </div>
    }
  </div>
</section>

<how-we-work></how-we-work>

<ng-template #emptyList>
  <div
    class="empty-list"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 50px;
      height: 100%;
    "
  >
    <img style="width: 400px" src="/images/empty-list.png" alt="Empty List" />
    <span
      style="
        width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
      "
    >
      <p style="text-align: center; font-size: 18px; margin-top: 20px">
        Your favorite products list is empty.
        <a href="/shop" style="color: #007bff; text-decoration: none"
          >Explore our selection</a
        >
        and add some of the available products to your list.
      </p>
    </span>
  </div>
</ng-template>
