<section>
  <div class="path-container">
    <span class="go-to" routerLink="/">Home</span>
    <span><img src="/icons/right-arrow.svg" alt="Right Arrow" /></span>
    <span>|</span>

    <span class="path-prod-name">Shop</span>
  </div>

  <img
    style="width: 100%"
    src="/images/cart-image.png"
    alt="Background Image"
  />
  <product-filters></product-filters>

  <div class="top-container">
    @if (product_list[0].length === 0) {
    <ng-container *ngTemplateOutlet="emptyList"></ng-container>
    }@else {
    <div class="list">
      @for (product of product_list[currentPage]; track $index) {
      <shop-product-card
        [product]="product"
        [index]="$index"
      ></shop-product-card>
      }
    </div>
    }

    <ul class="paginate">
      @for (page of product_list; track $index) {
      <li
        (click)="changeCurrentPage($index)"
        [ngClass]="{ 'active-page': currentPage === $index }"
        class="page"
      >
        {{ $index + 1 }}
      </li>
      }
    </ul>
  </div>
  <div class="info-texts">
    @for (item of info_texts; track $index) {
    <div class="info-item">
      <img [src]="'/icons/' + item.icon" [alt]="item.title" />
      <span>
        <h3>{{ item.title }}</h3>
        <p>{{ item.subtitle }}</p>
      </span>
    </div>
    }
  </div>
</section>

<ng-template #emptyList>
  <div
    class="empty-list"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 50px;
      height: 100%;
    "
  >
    <img style="width: 400px" src="/images/empty-list.png" alt="Empty List" />
    <span
      style="
        width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
      "
    >
      <p style="text-align: center; font-size: 18px">
        We have not found any products that match your search terms.
      </p>
      <span class="btn-empty-list" (click)="resetFilters()">
        Reset Filters
        <img src="/icons/restore.svg" alt="Reiniciar" />
      </span>
    </span>
  </div>
</ng-template>
