.top-container {
  display: flex;
  flex-direction: column;
  padding: 20px 150px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 30px;
}

.each-prod {
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 300px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.each-prod:hover {
  background-color: #e7f5ff;
}

.cant {
  color: black;
  padding: 5px 15px;
  background-color: white;
  border-radius: 3px;
  margin: 0 2px;
  font-size: 12px;
  border: 1px solid #9e9fa4;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.less,
.plus {
  padding: 0 15px;
  color: black;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #9e9fa4;
  cursor: pointer;
  user-select: none;
  background-color: #f7f8fc;
}

.material-symbols-outlined,
.shop {
  color: #a9a9a9;
  cursor: pointer;
}

.material-symbols-outlined.shop:hover {
  color: #2262c6;
}

.material-symbols-outlined.fav:hover {
  color: #579af8;
}

.favin,
.shopin {
  fill: #579af8;
}

* {
  user-select: none;
}

.btn-empty-list {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #2262c6;
  color: white;
  gap: 10px;
}

.btn-empty-list:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
