<div class="top-container">
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      align-items: center;
    "
  >
    <p style="color: #222222; font-size: 35px; font-weight: 600">
      Todos los Productos
    </p>
    <p>Mostrando 1 - 20 de {{ product_list.length }} resultados</p>
  </span>

  <product-filters></product-filters>

  @if (product_list.length === 0) {
  <ng-container *ngTemplateOutlet="emptyList"></ng-container>
  }@else {
  <div class="list">
    @for (product of product_list; track $index) {
    <shop-product-card [product]="product" [index]="$index"></shop-product-card>

    }
  </div>
  }
</div>

<ng-template #emptyList>
  <div
    class="empty-list"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 50px;
      height: 100%;
    "
  >
    <img style="width: 400px" src="/images/empty-list.png" alt="Lista Vacía" />
    <span
      style="
        width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
      "
    >
      <p style="text-align: center; font-size: 18px">
        We have not found any products that match your search terms.
      </p>
      <span class="btn-empty-list" (click)="resetFilters()">
        Reset Filters
        <img src="/icons/restore.svg" alt="Reiniciar" />
      </span>
    </span>
  </div>
</ng-template>
